// canvas {
//     display: block;
// }

// #gameStage {
//     position: absolute;
//     overflow: hidden;

//     top: 50%;
//     left: 50%;
//     width: 80%;
//     height: 80%;
//     transform: translate(-50%, -50%);
//     -webkit-transform: translate(-50%, -50%);
// }

.header {
    display: flex;
}

#gameStage {
    canvas {
        display: block;
        width: 100%;
        height: 100%;
    }
}